
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div> 
        <h2>Login Page</h2>
    </div>
    <table>
        <tr>
            <td>Email</td>
            <td><input type="text" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" /></td>
        </tr>
        <tr>
            <td><input type="button" value="button" /></td>
        </tr>
    </table>
</body>
</html>
